
<div class="container mt-5">
    <h1 class="text-center">Wprowadzenie do Serwisu</h1>
    <hr>
    <h5 class="mt-4">Jak korzystać z serwisu?</h5>
    <p>
        Serwis Przychodni oferuje funkcje dla lekarzy, recepcjonistów oraz administratorów. <br>
        Aby uzyskać dostęp do odpowiednich funkcji, zaloguj się przy pomocy swojego konta.
    </p>
    <ul>
        <li><strong>Lekarz:</strong> Zarządza wizytami i raportami o pacjentach.</li>
        <li><strong>Recepcjonistka:</strong> Rejestruje pacjentów i umawia wizyty.</li>
        <li><strong>Administrator:</strong> Zarządza użytkownikami systemu.</li>
    </ul>
</div>


